@charset "UTF-8";
//@import './config/variables.scss';
@use 'element-plus/theme-chalk/src/message.scss';
@use 'element-plus/theme-chalk/src/message-box.scss';
@use "./config/variables.scss" as * ;
@import './element-ui.scss';
@import './common.scss';
@import './standard.scss';
@import './transition.scss';
@import "reset.css";

html {
  height: 100%;
  box-sizing: border-box;
}

span, div, a {
  outline: none;
  text-decoration: none;
}

// 重置所有滚动条
*, div {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #f8f8f9;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dcdee2;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}

.n-open-menu {
  .sidebar-container {
    width: $size-210;
  }

  .layout-container {
    margin-left: $size-210;
  }
}

.n-fold-menu {
 /* .n-el-menu-vertical {
    .el-sub-menu__title,
    .el-menu-item {
      & * {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }*/
  .sidebar-container {
    width: $size-64;
  }

  .layout-container {
    margin-left: $size-64;
  }
}
